@model Models.Models.MainModel
@{
    int i = 1;
}

<div class="content">
    <div class="block block-rounded block-bordered">
        <div class="block-content block-content-full">
            <table class="table table-bordered table-striped table-vcenter js-dataTable-buttons table-sm">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 80px;">#</th>
                        <th>Código</th>
                        <th>Cliente</th>
                        <th>Cola</th>
                        @if (Model.Role.Equals(BusinessLogic.Common.CustomEnums.TicketRoles.AssignTicket.ToString()))
                        {
                            <th style="width: 15%;">Usuario</th>
                        }
                        <th style="width: 15%;">Registrado</th>
                        @if (!Model.Role.Equals(BusinessLogic.Common.CustomEnums.TicketRoles.AssignTicket.ToString()))
                        {
                            <th style="width: 15%;">Acciones</th>
                        }

                    </tr>
                </thead>
                <tbody>
                    @if (Model.Tickets.Any())
                    {
                        foreach (var ticket in Model.Tickets)
                        {
                    <tr>
                        <td class="text-center">@i</td>
                        <td>
                            <small>@ticket.CodigoTicket</small>
                        </td>
                        <td>
                            <small>@ticket.Nombre</small>
                        </td>
                        <td>
                            @if (ticket.Queue == 1)
                            {
                                <span class="badge badge-primary">Cola 1</span>
                            }
                            else
                            {
                                <span class="badge badge-success">Cola 2</span>
                            }
                        </td>
                        @if (Model.Role.Equals(BusinessLogic.Common.CustomEnums.TicketRoles.AssignTicket.ToString()))
                        {
                            <td>
                                <small>
                                    @ticket.ApplicationUser.FirstName @ticket.ApplicationUser.LastName
                                    <br />
                                    <em> @ticket.ApplicationUser.Email</em>
                                </small>
                            </td>
                        }

                        <td>
                            <small>
                                @ticket.FechaRegistro.ToString("dd-MM-yy HH:mm:ss")
                            </small>
                        </td>
                        @if (!Model.Role.Equals(BusinessLogic.Common.CustomEnums.TicketRoles.AssignTicket.ToString()))
                        {
                            <td class="text-right">
                                <a href="@Url.Action("Asignados", "Ticket", new { Id = ticket.CodigoTicket})" class="btn btn-outline-primary btn-square btn-sm">
                                    <i class="fa fa-arrow-right"></i> Atender
                                </a>
                            </td>
                        }

                    </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="7">No se han encontrado registros</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
