@model Models.Models.MainModel

<div class="bg-image" style="background-image: url('/Content/assets/media/photos/photo23.jpg');" onload="">
    <div class="bg-gd-white-op-rl">
        <div class="content content-boxed text-center py-5">
            <h1 class="h2 mb-2 text-primary"><span class="text-success"><i class="fa fa-check"></i></span> Tickets Asignados</h1>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Ticket/Shared/TableShowDetails.cshtml")


@section Scripts{
    @Scripts.Render("~/Content/assets/js/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/assets/js/plugins/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/assets/js/plugins/datatables/buttons/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/assets/js/plugins/datatables/buttons/buttons.print.min.js")
    @Scripts.Render("~/Content/assets/js/plugins/datatables/buttons/buttons.html5.min.js")

    @Scripts.Render("~/Content/assets/js/plugins/datatables/be_tables_datatables.min.js")

}